html, body {
    font-family: Monaco, monospace;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    display: inline-block;
    background: #f3f3f3;
}

.logo {
    float: left;
    color: #2ECC71;
    font-family: monospace;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 1rem;
    letter-spacing: 2px;
}

.input-container {
    float: right;
    padding-right: 1rem;
    margin-top: 12px;

}

input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    font-family: monospace;
    border-radius: 3px;
    border: 2px solid burlywood;
    padding-left: 10px;
}

#chart {
    padding: 20px;
}

table {
    width: 100%;
    height: 400px;
}

.chart-title{
    color: purple;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.bars td {
    vertical-align: bottom;
}

.bars div:hover {
    opacity: 0.6;
}

.one {
    background-color: #2ECC71;
}

.distance {
    text-align: center;
    font-weight: 600;
}

.dates {
    height: 2rem;
    font-size: 10px;
}

.bicycle {
    font-size: 12rem;
    text-align: center;
    font-weight: 600;
    color: #ccc;
}